<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Example</title>
	</head>
	<body>
		<article>
			<h1>Handlebars example</h1>
		</article>
		<article>
			{{#if isEnabled}}
				{{> content . }}
			{{/if}}

			{{> inner/inner . }}
		</article>
	</body>
</html>
