<html>
  <head>
  </head>
  <body>
    {{#time_examples}}
      <h1>Format time</h1>
      <p>
        From: {{format_time "%Y-%m-%dT%H:%M:%S" time_examples.from_time }} ({{ time_examples.from_time }})
      </p>
      <p>
        To: {{format_time "%A %d %B, %y" time_examples.to_time }} ({{ time_examples.to_time }})
      </p>
      <p>
        Static time: {{format_time "%A %d %B, %y" "2014-01-01T00:00:00Z" }} (2014-01-01T00:00:00Z)
      </p>
    {{/time_examples}}

    {{#markdown_examples}}
      <h1>Markdown</h1>

      <h2>Multiline</h2>
      <div>{{ markdown markdown_examples.multi_line }}</div>

      <h2>List</h2>
      <div>{{ markdown markdown_examples.list }}</div>
    {{/markdown_examples}}

    {{#with equal_examples}}
    <section>
      <h1>#equal</h1>

      <p>{{#equal "true" "true"}}true{{/equal}}</p>
      <p>{{#equal "true" "false"}}{{else}}false{{/equal}}</p>
    </section>
    {{/with}}
  </body>
</html>
